.container {
	width: 100%;
	margin: 0px auto;
	text-align: center;
	/*border: 3px solid black;
	box-shadow: 1px 1px 1px black;*/
	vertical-align: middle;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
a{
	color: white;
	text-decoration: none;
}
section {
	margin-top: 94px;
}
button {
	
	 box-shadow: 25px 25px 25px rgba(195, 190, 190, 0.2);
}

.employeedetails {
    display: block;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-bottom: 20px;
    width: 351px;
    margin-left: 300px;
   /* padding: 30px;*/
    /*border: 2px solid black;*/
    width: 330px;
}

.projectcount {
    padding: 30px;
    font-weight: 600;
    font-family : inherit;
}
span>div {
	font-family: 'Open Sans',sans-serif;
    font-variant: small-caps;
    font-weight: bolder;
    font-size: larger;

}

select[name="project"] {
	height: 35px;
    color: #111315;
    border: #2c343c;
    padding: 5px 3px 5px 10px;
    border-radius: 3px;
    margin-bottom: 25px;
}
input[type="button"] {
	background-color: cornflowerblue;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
}
.button-section {
	text-align: center;
}

aside {
	padding: 5px;
	padding-top: 20px;
	position: fixed;
	width: 200px;
	background-color: #262A33;
	color: white;
	height: 100%;
	top: 1px;
}
section.options {
	margin-bottom: 100px;
}
table.dataTable {
	width: 1000px;
}
table.dataTable tbody tr:even{
    background-color: red;
}
table.dataTable tbody tr:odd{
    background-color:#ffffff;
}
table.dataTable tr {
	background-color: #EDEDEF; 
}
table.dataTable tr:nth-child(even)  {
	background-color: #EDEDEF;  
}

table.dataTable tbody td {
  vertical-align: top;
  text-align: center;
}
aside div {
	cursor: pointer;
}
body {
	    background-color: rgb(238,238,238);
	    overflow-x : hidden;
}
button {
    padding: 10px 20px;
    background-color: lightgray;
    font-weight: lighter;
    font-size: medium;
}
.hidden {
	display: none;
}
.dataTables_wrapper {
    position: relative;
    left: 300px;
    /* clear: both; */
    width: 800px;
    zoom: 1;
}
.display-none {
	display: none;
}
div.error-message {
	color: #D8000C;
	border: 1px solid red;
	width: 700px;
	box-shadow: 1px 1px 1px rgb(255,0,0);
	background-color: #FFBABA;
	padding: 10px;
	margin-left: 200px;
	text-align: center;
}
table.dataTable.no-footer {
    width: 1000px;
    border: 1px solid #111;  
}
.dataTables_filter >label {
	position: relative;
	left: 200px;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #333;
    padding-bottom: 20px;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 20px 10px;
}

table.dataTable tbody td.numericCol {
	text-align: right;
}

div.employeeList {
	width: 600px;
}
