<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>com.activitytracker</display-name>
	<filter>
		<description>
		</description>
		<display-name>Login</display-name>
		<filter-name>Login</filter-name>
		<filter-class>com.activitytracker.filters.Login</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>Authenticate</display-name>
		<filter-name>Authenticate</filter-name>
		<filter-class>com.activitytracker.filters.Authenticate</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Login</filter-name>
		<url-pattern>/Login</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Authenticate</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.activitytracker.servlets.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogOut</display-name>
		<servlet-name>LogOut</servlet-name>
		<servlet-class>com.activitytracker.servlets.LogOut</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProjectDetailsDashboard</display-name>
		<servlet-name>ProjectDetailsDashboard</servlet-name>
		<servlet-class>com.activitytracker.servlets.ProjectDetailsDashboard</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EmployeeTaskHistory</display-name>
		<servlet-name>EmployeeTaskHistory</servlet-name>
		<servlet-class>com.activitytracker.servlets.EmployeeTaskHistory</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddTask</display-name>
		<servlet-name>AddTask</servlet-name>
		<servlet-class>com.activitytracker.servlets.AddTask</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TaskDetailsFetcher</display-name>
		<servlet-name>TaskDetailsFetcher</servlet-name>
		<servlet-class>com.activitytracker.servlets.TaskDetailsFetcher</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProjectDetails</display-name>
		<servlet-name>ProjectDetails</servlet-name>
		<servlet-class>com.activitytracker.servlets.ProjectDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TaskDetails</display-name>
		<servlet-name>TaskDetails</servlet-name>
		<servlet-class>com.activitytracker.servlets.TaskDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProjectHistory</display-name>
		<servlet-name>ProjectHistory</servlet-name>
		<servlet-class>com.activitytracker.servlets.ProjectHistory</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ManagerEmployeeMapping</display-name>
		<servlet-name>ManagerEmployeeMapping</servlet-name>
		<servlet-class>com.activitytracker.servlets.ManagerEmployeeMapping</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProjectReport</display-name>
		<servlet-name>ProjectReport</servlet-name>
		<servlet-class>com.activitytracker.servlets.ProjectReport</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EmployeeReport</display-name>
		<servlet-name>EmployeeReport</servlet-name>
		<servlet-class>com.activitytracker.servlets.EmployeeReport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogOut</servlet-name>
		<url-pattern>/LogOut</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProjectDetailsDashboard</servlet-name>
		<url-pattern>/ProjectDetailsDashboard</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeTaskHistory</servlet-name>
		<url-pattern>/EmployeeTaskHistory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddTask</servlet-name>
		<url-pattern>/AddTask</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TaskDetailsFetcher</servlet-name>
		<url-pattern>/TaskDetailsFetcher</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProjectDetails</servlet-name>
		<url-pattern>/ProjectDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TaskDetails</servlet-name>
		<url-pattern>/TaskDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProjectHistory</servlet-name>
		<url-pattern>/ProjectHistory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManagerEmployeeMapping</servlet-name>
		<url-pattern>/ManagerEmployeeMapping</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProjectReport</servlet-name>
		<url-pattern>/ProjectReport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeReport</servlet-name>
		<url-pattern>/EmployeeReport</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>/pages/login.jsp</welcome-file>
	</welcome-file-list>
	
  
</web-app>
